# based on http://owl.phy.queensu.ca/~phil/exiftool/config.html
# attempt to implement the CF conventions in Adobe XMP.
# Most important ones are title , history , institution , source , comment and references http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#_overview
# The only overlap with the Dublin Core XMP tags (XMP-dc) are Title and Source (https://sno.phy.queensu.ca/~phil/exiftool/TagNames/XMP.html)
# I prefer to have source here, title could be in both
# Dublin Core Rights should be the same as CF license.
# I often see reference for references (maybe my own error)
# I think I invented source_url myself, but it is useful.
%Image::ExifTool::UserDefined::cf = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-cf', 2 => 'Image' },
    NAMESPACE => { 'cf' => 'http://cfconventions.org' },
    WRITABLE => 'string', # (default to string-type tags)
    history => { Writable => 'string' },
    institution => { Writable => 'string' },
    source => { Writable => 'string' },
    source_url => { Writable => 'string' },
    comment => { Writable => 'string' },
    references => { Writable => 'string' },
    license => { Writable => 'string' }
);

# throw everything else in a newly-defined climexp group
%Image::ExifTool::UserDefined::climexp = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-climexp', 2 => 'Image' },
    NAMESPACE => { 'climexp' => 'http://climexp.knmi.nl' },
    WRITABLE => 'string', # (default to string-type tags)
    longitude => { Writable => 'string' },
    latitude => { Writable => 'string' },
    elevation => { Writable => 'string' },
    station_code => { Writable => 'string' },
    station_name => { Writable => 'string' },
    station_metadata => { Writable => 'string' },
    climexp_url => { Writable => 'string' }
);
