<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#000099">
<tr>
<td width=10%>&nbsp;</td><td align=left>&nbsp;</td>
</tr><tr>
<td width=10%>&nbsp;</td>
<td align=left><img src="https://climexp.knmi.nl/rcc/logo_climexp.png" alt=logo></td>
</tr><tr>
<td width=10%>&nbsp;</td>
<td align=left>
<table width=85.25% border="0" cellspacing="0" cellpadding="0" bgcolor="#000099">
<tr>
<td><a href="https://climexp.knmi.nl/start.cgi?id=FORM_EMAIL"><font color="#FFFFFF">Climate Explorer</font></a>
</td><td>
<a href="http://www.ecad.eu"><font color="#FFFFFF">European Climate Assessment &amp; Data</font></a>
</td><td>
<a href="http://www.knmi.nl"><font color="#FFFFFF">KNMI</font></a>
</td><td align=right>
<form name="zoek" method=POST action="/htsearch.cgi" style="margin:0px">
<!-- Search ht://Dig -->
<input type="hidden" name="method" value="and">
<input type="hidden" name="format" value="builtin-long">
<input type="hidden" name="sort" value="score">
<input type="hidden" name="config" value="htdig_www_eng">
<input type="hidden" name="restrict" value="">
<input type="hidden" name="exclude" value="">
<input type="hidden" name="EMAIL" value="id=FORM_EMAIL">
<input type="search" name="words" size=20 maxlength=255 bgcolor="#D3E3E3" style="background-color: #ffffff; width: 200px" placeholder="search in the Climate Explorer">
</td><td>
<input type=image alt="zoek!" title="Zoek!" img src="https://climexp.knmi.nl/vinklude/images/zoekglas.png" border=0 align=left valign="middle">
<!-- Search ht://Dig -->
</form>
</td></tr>
</table>
</td></tr>
<tr><td width=10%>&nbsp;</td><td align=left>&nbsp;</td></tr>
<tr bgcolor="#9999CC">
<style>a:visited {color: #000099;}</style>
<td width=10%>&nbsp;</td>
<td align=left>
<table width=90% border="0" cellspacing="0" cellpadding="0">
<tr height=20px>
<style>a:visited {color: "#000000"}</style>
<td width=6%><a href="/help.cgi?id=FORM_EMAIL">Help</a></td>
<td width=6%><a href="/news.cgi?id=FORM_EMAIL">News</a></td>
<td width=6%><a href="/about.cgi?id=FORM_EMAIL">About</a></td>
<td width=9%><a href="/contact.cgi?id=FORM_EMAIL">Contact</a></td>
<td width=16%><a href="/monthly_overview_world_weather/index.cgi?id=FORM_EMAIL">World weather</a></td>
<td width=19%><a href="/effects.cgi?id=FORM_EMAIL">Effects of El Ni&ntilde;o</a></td>
<td width=19%><a href="/kprep_seasonal_forecasts.cgi?id=FORM_EMAIL">Seasonal forecasts</a></td>
<td width=19%><a href="/plot_atlas_form.py?id=FORM_EMAIL">Climate Change Atlas</a></td>
</tr></table>
</td></tr>
</table>
