.app-header {
    height: 80px;
    line-height: 40px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
    text-align: left;
}

.subtitle {
  position: relative;
  color: #3a3a3a;
  left: 0;
  height: 20%;
  margin: 0mm;
  border-left: 5px solid #98151b;
  background: #ffffff;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 60px;
  text-align: left;
}

.tab.selected {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  color: black;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
  color:DimGray;
  font-weight:bold;
}

.tab.first.selected {
  border-left-style: none;
  font-size:18px;
  color:DimGray;
  font-weight:bold;
}

.tab {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  color: black;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
}

.tab.first {
  border-left-style: none;
  font-size:18px;
}

.app-dropdown {
    height: auto;
    line-height: 40px;
    padding-bottom:20px;
    border-bottom: thick darkgrey solid;
)